.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width:40%;

}

.cardContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  height: 20rem;
  margin-top: 4rem;
}
.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #111113;
  border-radius: 10px;
  height: 18rem;
  width: 10.5%;
}
.index {
  position: relative;
  right: 50.39%;
  bottom: 90%;
  background-color: #14ade0;
  border-radius: 9rem;
  color: black;
  padding: 0.0001rem;
  width: 1rem;
}
.icon {
  background-color: green;
  border-radius: 3rem;
  position: relative;
  width: 1rem;
  left: 31.66%;
  right: 46.74%;
  bottom:1rem;
}
.name{
  margin-bottom:4rem;
  position: relative;
  bottom:2.2rem;
}
.soldLikes {
  text-align: center;;
  background: #282635;
  border-radius: 10px;
  margin: 0.5rem;
  position: relative;
  bottom:6rem;
  height: 4.5rem;
  align-content: center;
  width: 0180%;
}
.heart{
  color:red;
}
.slick-list {
  margin: 0 -7px !important;
}

.slick-slide > div {
  padding: 0 7px !important;
}
@media only screen and (max-width: 425px) {
  .cardContainer {
    display: flex;
    flex-direction: row;
  }
  .wrap {
    width: 100%;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .cardContainer {
    display: flex;
    flex-direction: row;
  }
  .wrap {
    width: 100%;
    margin: 0.5rem;
  }
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  .cardContainer {
    display: flex;
    flex-direction: row;
  }
  .wrap {
    width: 100%;
    margin: 0.5rem;
  }
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
